{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/register.css' %}">
<script src="{% static 'js/registro/valorMiles.js' %}"></script>  <!-- hacer para que el campo valor se pueda ver en miles -->

<div class="container-fluid" style="padding-top: 35px;padding-left: 50px;padding-right: 50px;">
    
    {% include 'messages.html' %}

    <div class="container">
        <h2 class="my-3">Registrar Elemento de Inventario</h2>

        <form method="post">
            <!-- validar errores -->
            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Corrige los siguientes errores:</strong>
                    <ul>
                        {% for field in form %}
                            {% if field.errors %}
                                <li><b>{{ field.label }}:</b> {{ field.errors|striptags }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% csrf_token %}

            <!-- FILA 1 -->
            <div class="row">
                <div class="col-md-2">
                    <label for="{{ form.codigo.id_for_label }}">Código</label>
                    {{ form.codigo }}
                </div>

                <div class="col-md-8">
                    <label for="{{ form.descripcion.id_for_label }}">Descripción</label>
                    {{ form.descripcion }}
                </div>

                <div class="col-md-2">
                    <label for="{{ form.serial.id_for_label }}">Serial</label>
                    {{ form.serial }}
                </div>

            </div>

            <!-- FILA 2 -->
            <div class="row mt-3">

                <div class="col-md-4">
                    <label for="{{ form.clasificacion.id_for_label }}">Clasificación</label>
                    {{ form.clasificacion }}
                </div>
                
                <div class="col-md-3">
                    <label for="{{ form.marca.id_for_label }}">Marca</label>
                    {{ form.marca }}
                </div>

                <div class="col-md-3">
                    <label for="{{ form.modelo.id_for_label }}">Modelo</label>
                    {{ form.modelo }}
                </div>

                <div class="col-md-2">
                    <label for="{{ form.color.id_for_label }}">Color</label>
                    {{ form.color }}
                </div>
            </div>

            <!-- FILA 3 -->
            <div class="row mt-3">

                <div class="col-md-1">
                    <label for="{{ form.cantidad.id_for_label }}">Cantidad</label>
                    {{ form.cantidad }}
                </div>

                <div class="col-md-3">
                    <label for="{{ form.sucursal.id_for_label }}">Sucursal</label>
                    {{ form.sucursal }}
                </div>

                <div class="col-md-2">
                    <label for="{{ form.valor.id_for_label }}">Valor</label>
                    {{ form.valor }}
                </div>

                <div class="col-md-3">
                    <label for="{{ form.fecha_compra.id_for_label }}">Fecha de Compra</label>
                    {{ form.fecha_compra }}
                </div>

                <div class="col-md-3">
                    <label for="{{ form.estado.id_for_label }}">Estado</label>
                    {{ form.estado }}
                </div>
            </div>

            <!-- FILA 4 -->
            <div class="row mt-3">
                
                <div class="col-md-3">
                    <label for="{{ form.recursos.id_for_label }}">Recursos</label>
                    {{ form.recursos }}
                </div>

                <div class="col-md-5">
                    <label for="{{ form.cargo_funcionario.id_for_label }}">Cargo del Funcionario Responsable</label>
                    {{ form.cargo_funcionario }}
                </div>

                <div class="col-md-4">
                    <label for="{{ form.funcionario_responsable.id_for_label }}">Nombre del Funcionario Responsable</label>
                    {{ form.funcionario_responsable }}
                </div>
            </div>

            <!-- FILA 5 -->
            <div class="row mt-3">
                <div class="col-md-4">
                    <label for="{{ form.nit.id_for_label }}">Nit</label>
                    {{ form.nit }}
                </div>
                <div class="col-md-4">
                    <label for="{{ form.proveedor.id_for_label }}">Proveedor</label>
                    {{ form.proveedor }}
                </div>
                
            </div>

            <!-- FILA 6 -->
            <div class="row mt-3">
                <div class="col-md-12">
                    <label for="{{ form.observaciones.id_for_label }}">Observaciones</label>
                    {{ form.observaciones }}
                </div>
            </div>

            <!-- BOTON GUARDAR -->
            <div class="row mt-4">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-success btn-lg">
                        Guardar
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}
